name: Build & Push CI

on:
  release:
    types: [ published ]

permissions: write-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 21
      uses: actions/setup-java@v1
      with:
        java-version: 21
    - name: Build with Maven
      run: mvn -B package --file pom.xml spring-boot:repackage

    - name: Build & push Java Docker image
      uses: mr-smithers-excellent/docker-build-push@v4

      with:
        image: cracker2709/kubeclient-routers-java
        dockerfile: ./Dockerfile-java
        tag: ${{ github.ref_name }}
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & push Python Docker image
      uses: mr-smithers-excellent/docker-build-push@v4

      with:
        image: cracker2709/kubeclient-routers-pyp
        dockerfile: ./Dockerfile-pyp
        tag: ${{ github.ref_name }}
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}